aside {
  background-color: hsl(var(--primary-foreground));
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  border-right: 1px solid hsl(var(--border));
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
