<div class="grid gap-2 grid-cols-3">
  <a hlmCard routerLink="/clients">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="flex items-center flex-row gap-2">
        <hlm-icon size="lg" name="lucideLaugh"></hlm-icon>Amount of registered
        Clients
      </h3>
    </div>
    <p [ngClass]="h1" hlmCardContent>{{ amountOfClient() }}</p>
  </a>

  <a hlmCard routerLink="/documents">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="flex items-center flex-row gap-2">
        <hlm-icon size="lg" name="lucideFile"></hlm-icon>
        Total amount of Documents
      </h3>
    </div>
    <p [ngClass]="h1" hlmCardContent>{{ amountOfDocuments() }}</p>
  </a>
</div>
