<hlm-dialog [state]="modalState()" (closed)="onClose()">
  <hlm-dialog-content *brnDialogContent="let ctx">
    <hlm-dialog-header class="w-[250px]">
      <h3 hlmDialogTitle>Create new Customer</h3>
      <p hlmDialogDescription>Provide client's name.</p>
    </hlm-dialog-header>
    <form
      class="py-4 grid gap-4"
      [formGroup]="createClientForm"
      (ngSubmit)="handleSubmit()"
    >
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="type">Type</label>
        <select
          class="col-span-3 flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm"
          formControlName="type"
          id="type"
        >
          <option value="person">Person</option>
          <option value="company">Company</option>
        </select>
      </div>

      @if (createClientForm.controls.type.value === 'company') {
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="companyName">Company</label>
        <input
          class="col-span-3"
          formControlName="companyName"
          id="companyName"
          hlmInput
        />
      </div>
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="representativeName">Signer</label>
        <input
          class="col-span-3"
          formControlName="representativeName"
          id="representativeName"
          hlmInput
        />
      </div>
      } @else {
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="lastName">Last name </label>
        <input
          class="col-span-3"
          formControlName="lastName"
          id="lastName"
          hlmInput
        />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="firstName">First name </label>
        <input
          class="col-span-3"
          formControlName="firstName"
          id="firstName"
          hlmInput
        />
      </div>
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="fathersName">Fathers name </label>
        <input
          class="col-span-3"
          formControlName="fathersName"
          if="fathersName"
          hlmInput
        />
      </div>
      }
      <hlm-dialog-footer>
        <button hlmBtn type="submit">Create</button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
